.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.picture-shadow,
.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.picture-shadow {
  border-radius: 290486px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%;
  opacity: 0;
}

.picture-image {
  border-radius: 290486px;
  position: absolute;
  opacity: 0;
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job {
  color: var(--highlight-color);
  font-size: 0.75rem;
}

.job,
.button {
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.hr {
  background-color: var(--accent-color);
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 0;
  transform-origin: center left;
  width: 4rem;
}

.description {
  font-size: 1.5rem;
}
